<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chrzha.social.mapper.DataCatchMapper">
	<resultMap id="BaseResultMap" type="com.chrzha.social.entity.PatentsInfo">
		<result column="patent_Id" jdbcType="INTEGER" property="patentId" />
		<result column="patent_number" jdbcType="VARCHAR" property="patentNumber" />
		<result column="patent_name" jdbcType="VARCHAR" property="patentName" />
		<result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
		<result column="assignee_name" jdbcType="VARCHAR" property="assigneeName" />
		<result column="patent_url" jdbcType="VARCHAR" property="patentUrl" />
		<result column="field_name" jdbcType="VARCHAR" property="fieldName" />
		<result column="patent_abstract" jdbcType="VARCHAR" property="abstractContent" />
		<result column="version" jdbcType="VARCHAR" property="version" />
	</resultMap>
	 
	<select id="getPatents" resultMap="BaseResultMap"  >
		 select p.* from 
         uspto_patent_info p left join  users_version uv 
         on p.version=uv.version where uv.userid=#{userId} 
         order by patent_number LIMIT #{pageNum},#{pageSize}
	</select>
	<select id="getTotalCount" resultType="java.lang.Integer"  >
		 select count(*) from 
         uspto_patent_info p left join  users_version uv 
         on p.version=uv.version where uv.userid=#{userId} 
	</select>
	<select id="getTotalCountByVersion" resultType="java.lang.Integer"  >
		 select count(*) from uspto_patent_info  where version=#{version}
	</select>
	
	<insert id="insertPatents">
		insert into uspto_patent_info (patent_number,patent_name,owner_name,patent_url,patent_abstract,version) values
		<foreach collection="list" item="item" index="index" separator="," >
		 (#{item.patentNumber},#{item.patentName},#{item.ownerName},#{item.patentUrl},#{item.abstractContent},#{item.version})
		 </foreach>
	</insert>

	<insert id="insertPatent">
		insert into uspto_patent_info (patent_number,patent_name,owner_name,patent_url,patent_abstract,version) values
		 (#{patentNumber},#{patentName},#{ownerName},#{patentUrl},#{abstractContent},#{version})
	</insert>
	<select id="getPatentsByVersion" resultMap="BaseResultMap">
	      select * from uspto_patent_info where version=#{version} order by patent_number LIMIT #{pageNum},#{pageSize}
	</select>
    <delete id="deleteAllPatents">
	    DELETE uspto_patent_info,users_version
		FROM uspto_patent_info
		RIGHT JOIN users_version ON uspto_patent_info.version=users_version.version
		 
	</delete>
    <delete id="deletePatentsByVersion">
	  DELETE uspto_patent_info,users_version
	FROM uspto_patent_info
	RIGHT JOIN users_version ON uspto_patent_info.version=users_version.version
	WHERE users_version.version=#{version}
	</delete>
	<select id="getVersions" resultType="java.lang.String">
	  select distinct p.version from uspto_patent_info p left join users_version uv on p.version = uv.version where uv.userid=#{userId}
	</select>
</mapper>